<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv=Content-Type content="text/html;charset=utf-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
	<title>宝宝喂奶记录</title>

<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

<style type="text/css">
[v-cloak] {
  display: none;
}
</style>
</head>
<body>
<header>
	<center>
			<div class="alert alert-success" role="alert">
					宝宝喂奶记录
				</div>
	</center>
</header>
<div class="container-fluid">
  <div class="row">
		<div class="col">
			<center>
				<form>
						<div class="form-group">
							<label class="sr-only" for="eatMinute">吃了</label>
							<div class="input-group custom-control-inline">
								<input type="text" class="form-control" id="minute" placeholder="minute">
								<div class="input-group-addon">min</div>
							</div>
						</div>
						<button type="button" class="btn btn-primary custom-control-inline" id="saveBtn">记录喂奶时间</button>
					</form>
			</center>
		</div>
	</div>  
  <div class="row" id="msg" v-cloak>
		<div class="col list">
			<center>
			<ul class="list-unstyled">
				<li v-for="w in list">{{w}}</li>
			</ul>
		</center>
		</div>
	</div>
	
</div>


<div class="container" id="container" >
	<div class="row justify-content-center">
		<div class="col"></div>
		<div class="col">
    	<!-- <embed width="640" height="360" allownetworking="all" allowscriptaccess="always" src="https://staticlive.douyucdn.cn/common/share/play.swf?room_id=593076" quality="high" bgcolor="#000" wmode="window" allowfullscreen="true" allowFullScreenInteractive="true" type="application/x-shockwave-flash"> -->
    	</div>
    	<div class="col"></div>
    </div>
    <div>
    	<!-- <select id="pageSize" v-cloak>
    		<option v-for="(p,key) in pageSize" :value="key" v-html="p"></option>
    	</select> -->
    </div>
</div>

	<script src="./js/jquery-latest.js"></script>
	<script src="./js/vue.js"></script>
<script type="text/javascript">
var msg = new Vue({
  el: '#msg',
  data: {
    list: []
  }
}) ;
var container = new Vue({
  el: '#container',
  data: {
    pageSize: {
    	"5":"条数",
    	"10":"10",
    	"20":"20",
    	"30":"30",
    	"100":"100",
    }
  }
}) ;
var getmsg = function(){
	var pageSize = $("#pageSize").val() ;
	pageSize = 10;
	$.post("./action.php?action=list",{pageSize:pageSize},function(data){
		//console.log(data) ;
		var w = "<ul>" ;
		var obj = eval("("+data+")") ;
		msg.list = obj.list ;
		
	}) ;
}
var savemsg = function(){
	var minute = $("#minute").val();
	if(!minute || isNaN(minute)){
		alert('输入喂奶时长');
		return;
	}
	$.post("./action.php?action=save",{minute:minute},function(data){
		getmsg();
		$("#minute").val('');
	}) ;
}
getmsg() ;
$(function(){
	$('#saveBtn').click(function(){
		savemsg();
	});
});
</script>
</body>
</html>

